{% extends "base.html" %}

{% block content %}
   


<div class="w-75 p-75 mx-auto p-3 mb-2 bg-light text-dark font-weight-bold text-center">
    <h1>PyJokes Exercise 5!</h1>
    <div class="form">
        <form action="/joke" method="POST" action="{{ url_for('joke') }}">
        <h6 class = "text-left">Pick language</h6>
        <select class="form-control" name= "language">
            {% for lang in language %}
            <option value= "{{lang}}" SELECTED>{{lang}}</option>"
            {% endfor %}
        </select>
        
        <h6 class = "text-left">Pick joke type</h6>
        <select class="form-control" name="joketype">
            {% for joke in joketype %}
            <option value= "{{joke}}" SELECTED>{{joke}}</option>"
            {% endfor %}
        </select>
        <h6 class = "text-left">Pick number of jokes</h6>
        <select class="form-control" name="number">
            {% for num in number %}
            <option value= "{{num}}" SELECTED>{{num}}</option>"
            {% endfor %}
        </select>
        <br/>
        <input class="btn btn-default mt-0" type="submit" name="submit_button" value="Get Joke">
        </form>
    </div>


    <h3><a href = "{{ url_for('index') }}">Back to home Page</a></h3>
    
    {%for joke in jokes%}
    <p>{{joke}}</p>
    {% endfor %}

    <h1 class = "text-danger">{{error}}</h1>
    
</div>
{% endblock content%}


