@charset "utf-8";
button#gobutt {
    width: 100%;
}

button#saveButt {
    float: left;
}

button#remAllButt {
    float: right;
}

button#remPurchButt {
    float: right;
}

.low {
    background-color: green;
}

.medium {
    background-color: yellow;
}

.high {
    background-color: red;
}

input.checkbox{
    width: 40px; 
    height: 40px; 
}