h1{
font-family: Apple Chancery, cursive;
text-align: center;

}


#button{
    margin: 6px;
    color: white;
    border-radius: 6px;
    width: 75%;
    font-family: Apple Chancery, cursive;
}

body{
    background-image: url("images/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    text-align: center;
  }
  
 