<html>
    <head>
        <link rel="stylesheet" href="static/css/bootstrap.css" crossorigin="anonymous">
    </head>
    <body>
            <div class="row" style="margin: 20px 0">
                <div class="col-4 text-center">
                    <a href="/continent">Continent</a>
                </div>
                <div class="col-4 text-center">
                    <a href="/region">Region</a>
                </div>
                <div class="col-4 text-center">
                    <a href="/country">Country</a>
                </div>
            </div>
        {% block content %}
        
        {% endblock %}
        <script src="static/js/jquery.js" crossorigin="anonymous"></script>
        <script src="static/js/popper.js" crossorigin="anonymous"></script>
        <script src="static/js/bootstrap.js" crossorigin="anonymous"></script>
    </body>
</html>
